@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html{
    /* font-size: 16px; */
}
main{
    margin-bottom: -1.2rem;
}
.oswald-500 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.uppercase{
    text-transform: uppercase !important;
}
.color-black{
    color: #000 !important;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
a.btn-careers:visited{
    color: #0c0b0e;
}
a.btn-careers:hover{
    text-decoration: none;
}

#careers-page{
    font-family: 'Lato', sans-serif !important;
}

.hero-content{
    padding-left: 0;
    padding-right: 0;
    min-height: 70rem;   
}

@media (max-width: 767px) {
    .hero-content {
        min-height: unset;
    }
}

/* Navigation */
.careers-nav-container{
    background-color: #000033;
    position: sticky;
    top: 0;
    z-index: 100;
}
.careers-nav-container .container{
    width: 76rem !important;
}
.careers-nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;

    gap: 3.5rem;

    align-items: last baseline;
}
.careers-nav .nav-link{
    display: inline-block;

    text-decoration: none;

    transition: color .15s ease-in-out;

    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 500;
    color: #b3b3b3;

    cursor: pointer;
}
.careers-nav .nav-link:hover, .careers-nav .nav-link.active{
    color: #fff;
    
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1.4rem;
    text-decoration-color: #fec111;
}
.careers-nav .nav-link:visited{
    color: #b3b3b3;
}
.careers-nav .btn-careers{
    margin-left: auto;
}

.careers-nav-sm{
    padding: 1rem 0;

    background: #000033;

    position: sticky;
    top: 0;
    z-index: 100;
}
.careers-nav-sm>.container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.careers-nav-sm .btn-careers{
    margin-left: auto;
}
.careers-nav-toggle{
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    background-color: transparent;
    border: 1.5px solid rgba(255,255,255,0.4);
    border-radius: 0.375rem;
}
.careers-nav-toggle-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.navbar-collapse{
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
}
.navbar-nav{
    padding: 0 0.3rem;
    
    color: #fff;

    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.careers-nav-sm .nav-link a{
    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 500;
    color: #b3b3b3;

    cursor: pointer;

    text-decoration: none;
    margin-left: 2rem;
}
.careers-nav-sm .nav-link.active{
    text-decoration: underline;
    text-decoration-color: #fec111;
}
.careers-nav-sm .nav-link.active a{
    color: #fff;
}


.arrow-prev, .arrow-next{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;

    padding: 0;

    color: #fff;
    text-align: center;
    font-size: 6rem;

    background: 0 0;
    border: 0;

    opacity: .5;
    transition: opacity .15s ease, color .15s ease;
}
.arrow-prev:hover, .arrow-prev:focus, .arrow-prev:hover .glyphicon, .arrow-prev:focus .glyphicon, .arrow-next:hover, .arrow-next:focus{
    color: #fec111;
    text-decoration: none;
    outline: 0;
    opacity: 1;
}
.arrow-prev:hover, .arrow-prev:focus{
    background: linear-gradient(90deg, #000, transparent);
}
.arrow-next:hover, .arrow-next:focus{
    background: linear-gradient(270deg, #000, transparent);
}
.arrow-prev{
    left: 0;
}
.arrow-next{
    right: 0;
}
.arrow-more .glyphicon{
    top: -39.2rem;;
    color: #000;
}

/* Yellow button */
.btn-careers{
    background-color: #fec111;
    color: #0c0b0e;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.btn-careers:hover, .btn-careers:active, .btn-careers:focus{
    background-color: #0c0b0e;
    color: #fff !important;
    border: 1px solid #fec111;
}

/* Grey button */
.btn-careers-grey, .btn-careers-grey:visited{
    background-color: #ccc;
    color: #0c0b0e;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.btn-careers-grey:hover, .btn-careers-grey:active, .btn-careers-grey:focus{
    background-color: #0c0b0e;
    color: #fff !important;
    border: 1px solid #0c0b0e;
}

/* Yellow outline, transparent background */
.btn-careers-outline{
    background-color: unset;
    color: #0c0b0e;
    border: 2px solid #fec111;
    font-weight: 600;
}
.btn-careers-outline:hover, .btn-careers-outline:active, .btn-careers-outline:focus{
    background-color: #fec111;
    color: #0c0b0e;
}

/* No outline, underline */
.btn-careers-plain{
    background: none;
    /* color: #000; */
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.5rem;
    transition: text-underline-offset 0.15s ease-in-out;
    margin-left: -1.5rem;
    font-weight: 600;
}
.btn-careers-plain:hover, .btn-careers-plain:active, .btn-careers-plain:focus{
    background: none;
    color: currentColor;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1rem;
}

/* Main content */
#header-police, #header-civilian{
    min-height: 70rem;
    height: 100vh;
    border-top: 1px solid #000033;
}
.header-text-container{
    color:#000;

    position: absolute;
    left: 15%;
    top: 15%;
}
#header-civilian .header-text-container{
    color: #fff;
}
.header-text-container h2{
    font-size: 8rem;
}
#header-more h2{
    font-size: 6rem;
    margin-bottom: 4rem;
    color: #000;
}
#header-more .container{
    width: 80%;
    margin-left: 15%;
}
.header-description{
    padding: 2rem 0;
}


/* Backgrounds */
#header-police, #header-police-xs{
    background-image: url('../img/hero-police-officer.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
#header-civilian, #header-civilian-xs{
    background-image: url('../img/hero-civilian-g.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    text-shadow: 0.1rem 0.1rem 7px #000;

    color: #fff;
}
#header-more{
    background: linear-gradient(180deg, #f3f3f3, #b3b3b3);
    position: relative;

    color:#000;
    padding-bottom: 4rem;
}

/* Mobile formatting */
.header-container-xs{
    width: 100%;
    height: 100%;
}
#header-police-xs .header-container-xs{
    background: linear-gradient(90deg, #ffffff80, transparent 40%);
}
#header-civilian-xs .header-container-xs{
    background: linear-gradient(90deg, #00000080, transparent 40%);
}
#header-more-xs .header-container-xs{
    background: linear-gradient(180deg, #ffffff80 13rem, transparent);
}
#header-more-xs{
    background-color: #b3b3b3;

    min-height: 50rem;
    padding-bottom: 2rem;
}
#header-more-xs .header-container-xs{
    border-top: 1px solid;
}
#header-more-xs h2{
    margin-left: 2rem;
}
#header-police-xs .header-text-container-xs, #header-civilian-xs .header-text-container-xs{
    width: 65%;
    padding: 2rem;
}
.header-text-container-xs h2{
    margin-top: 2rem;
    font-size: 5rem;
}
.header-text-container-xs p{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#header-police-xs, #header-civilian-xs{
    height: 50rem;
}
#header-police-xs, #header-more-xs{
    color: #000;
}

/* Cards for "More opportunities" */
.opp-card{
    padding: 0;

    border-width: 0;
    border-radius: 0.4rem;

    box-shadow: 0rem 0.3rem 0.8rem #9b9b9b;

    margin-bottom: 2rem;

    background-color: #fff;

    height: 47rem;
    max-width: 36rem;

    position: relative;
}
.opp-card img{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.opp-card-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    border-top: 0.025rem solid #fff;
}
.opp-card-container p{
    font-size: 1.8rem;
}
.opp-card a{
    text-underline-offset: 0.2rem;
}
.opp-card .btn-careers-outline{
    position: absolute;
    bottom: 3rem;
    width: 94%;
}

.opp-card-xs{
    background: #fff;
    color: #0c0b0e;

    border-radius: 0.4rem;

    padding-bottom: 2rem;

    margin-top: 2rem;
}

/* Careers footer */
.gc-careers-footer{
    color: #fff;
    background-color: #333;
}
.gc-careers-footer a{
    color: #fff;
}
.gc-careers-footer a:visited{
    color: #fff;
}
.gc-careers-footer a:hover, .gc-careers-footer a:focus{
    text-decoration: underline !important;
}

/* Contact us footer */
/* .careers-footer-contact{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.careers-footer-contact .btn-contact{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    border-radius: 0;

    color: #0c0b0e;
} */

.footer-contact{
    position: sticky;
    bottom: 0;
    z-index: 100;
}
.footer-contact .btn-contact{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 40rem;

    border-radius: 0;
}
.btn-contact:visited{
    color: #0c0b0e;
}
.btn-contact:hover, .btn-contact:focus{
    color: #fff;
}

@media (max-width: 767px) {
    .footer-contact{
        margin-top: 5rem;
    }
    .footer-contact .btn-contact {
        width: 100%;
    }
}

/* POLICE OFFICER PAGE */
/* Header */
.po-header{
    position: relative;

    min-height: 70vh;

    display: grid;

    background: url('../img/po-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-color: #000033;
}
.po-header-left{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;

    padding: 0 10rem;

    background: linear-gradient(270deg, #000033 40%, transparent 70%);
}
.po-header-text{
    color: #fff;

    width: 50%;
    padding: 3rem 0;
}
.po-header-text h1{
    font-size: 6rem;
    line-height: 6.5rem;
}
.po-header-text .po-header-tagline{
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.2;

    margin-bottom: 5rem;
}
.po-header-text hr{
    border-top: 1rem solid #fec111;
    width: 50%;
}
/* Mobile header */
.po-header-text-sm{
    padding: 4rem 3rem;

    background: #000033;
    color: #fff;
}
.po-header-text-sm h1{
    font-size: 5rem;
    
    margin-bottom: 1rem;
    margin-top: 0;
}
.po-header-text-sm .po-header-tagline{
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.5rem;
}
.po-header-text-sm hr{
    border-color: #fec111;
    border-width: 1rem;

    margin-bottom: 3rem;
}

/* Banner */
.po-banner{
    padding-top: 6rem;
}
.po-banner-text{
    padding-right: 6rem;
    padding-left: 6rem;
}
.po-banner-text p:nth-child(1){
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 7rem;

    border-left: 0.6rem solid #fec111;

    padding: 2rem;
    margin-bottom: 2rem;
}
.po-banner-text p:nth-child(2){
    font-size: 3rem;
    line-height: 5rem;
}
/* Mobile banner */
@media (min-width: 768px) and (max-width: 991px) {
    .po-banner-text p:nth-child(2){
        font-size: 2.5rem;
    }
}
@media (max-width: 767px) {
    .po-banner-text{
        padding-left: 3rem;
    }
    .po-banner-text p:nth-child(1){
        font-size: 4rem;
    }
    .po-banner-text p:nth-child(2){
        font-size: 2.5rem;
    }
}

/* Services and information */
.po-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;

    padding: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
    .po-links{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .po-links{
        grid-template-columns: 1fr;
        gap: 3rem 6rem;

        padding: 3rem 3rem;
    }
}
.po-card{
    display: flex;
    gap: 5rem;
    flex-direction: column;

    padding: 4rem;
    border-radius: 0.5rem;

    color: #000033;

    /* width: 85%; */

    background: #fff;
    box-shadow: 0rem 0.3rem 0.8rem #9b9b9b;
}
@media (max-width: 767px) {
    .po-card{
        padding: 4rem 2rem;
        width: 100%;
    }
}
.po-card svg{
    width: 4rem;
    margin-right: 1rem;
    margin-bottom: -1rem;

    fill: #000053;
}
.po-card h3{
    margin-top: 0;
    line-height: 4rem;
}

/* Dedicated recruitment streams */
.po-drs{
    width: 100%;

    padding: 6rem;

    background: #f3f3f3;
}
.po-drs h2{
    margin-bottom: 3rem;
    margin-top: 0;
}
.po-drs>p{
    margin-bottom: 6rem;
}
.po-drs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
}
.po-drs-grid .opp-card{
    height: unset;
}
@media (max-width: 767px) {
    .po-drs{
        padding: 4rem 3rem;
    }
    .po-drs h2{
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .po-drs>p{
        margin-left: 0;
    }
    .po-drs-grid {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .po-drs-grid{
        grid-template-columns: 1fr 1fr;
    }
}

/* Police officer ribbons */
.po-ribbon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.po-ribbon-dark{
    background-color: #000033;
    color: #fff;
}
.po-ribbon-light{
    background-color: #f3f3f3;
}
.po-ribbon-img{
    display: flex;
    align-items: flex-end;

    padding-top: 6rem;
}
.po-ribbon-img img{
    height: 100%;
    width: 90%;
    
    object-fit: cover;
}
.po-ribbon-img-left img{
    border-top-right-radius: 1rem;
}
.po-ribbon-img-right{
    justify-content: flex-end;
}
.po-ribbon-img-right img{
    border-top-left-radius: 1rem;
}
.po-ribbon-dark .po-ribbon-text{
    padding: 6rem 6rem 6rem 0rem;
}
.po-ribbon-light .po-ribbon-text{
    padding: 6rem;
}
.po-ribbon-text h2:first-of-type{
    margin-top: 0;
}
/* Mobile life */
@media (max-width: 767px) {
    .po-ribbon{
        grid-template-columns: 1fr;
    }
    .po-ribbon-img{
        padding-top: 0;
    }
    .po-ribbon-img img{
        width: 100%;

        border-radius: 0;
    }
    .po-ribbon-text{
        padding: 4rem 3rem;
    }
}

/* Recruitment events */
.po-events{
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 6rem 6rem 0rem 6rem;
}
.po-events-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 6rem;

    margin-top: 2rem;
}
.event-card{
    border: 1px solid #0c0b0e;
    border-radius: 5px;
    padding: 2rem;

    position: relative;
}
.event-card svg {
    height: 2.4rem;
    margin-bottom: -0.4rem;

    fill: #543e00;
}
.event-card-location{
    position: absolute;
    background: #fec111;
    padding: 0.5rem 1rem;
    top: 0;
    right: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.event-card-cancel{
    background: #d6d9dd;
    color: #545961;
}
/* Mobile events */
@media (min-width: 768px) and (max-width: 1125px) {
    .po-events-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .po-events{
        padding: 4rem 3rem 0rem 3rem;
    }
    .po-events-cards {
        grid-template-columns: 1fr;
    }
}

/* Footer image */
.po-end{
    background-image: url(../img/po-end.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}
.po-end-gradient{
    background: linear-gradient(180deg, #fff 5%, transparent 20%);
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .po-end{
        height: 50vh;
    }
}

/* Left yellow line for headers */
.h2-line{
    border-left: 0.6rem solid #fec111;
    margin-left: -1.8rem;
    padding-left: 1rem;
}

/* Plain text display links */
.link-dark{
    color: #0c0b0e;
    position: relative;
}
.link-dark svg{
    fill: #0c0b0e;
}
.link-dark:hover{
    color: #0535d2;
}
.link-dark:focus{
    color: #0c0b0e;

    outline: 0.1rem solid #0c0b0e;
    outline-offset: 0.5rem;
}
.link-dark:hover svg, .link-dark:focus svg{
    fill: #0535d2;
}
.link-light, .link-light:visited{
    color: #fff;
    position: relative;

    width: fit-content;
}
.link-light svg, .link-light:visited svg{
    fill: #fff;
}
.link-light:hover, .link-light:visited:hover{
    color: #fec111;
}
.link-light:focus{
    color: #fec111;

    outline: 0.1rem solid #fec111;
    outline-offset: 0.5rem;
}
.link-light:hover svg, .link-light:focus svg, .link-light:visited:hover svg{
    fill: #fec111;
}
.link-light svg, .link-dark svg{
    width: 2rem;

    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    height: 2rem;
}
@media (max-width: 767px) {
    .link-light svg, .link-dark svg {
        margin-top: 1.1rem;
    }
}

/* Landing page */
.landing-header-img{
    background: url('../img/RCMP-2023-0929-032-SG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15rem;
    
    height: 35vh;
}
.landing-content{
    display: flex;

    gap: 6rem;
    padding: 6rem;
}
.landing-title h1{
    margin-top: 0;
}
.landing-title hr{
    border-color: #fec111;
    border-width: 0.5rem;

    width: 50%;
}
.landing-text .po-drs{
    margin: 3rem 0;
    padding: 0;

    background: unset;
}
.landing-text .po-drs-grid{
    gap: 3rem;
}

/* Generic page */
.generic-content h1{
    text-decoration: underline;
    text-decoration-color: #fec111;
    text-underline-offset: 1rem;
}