@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.cnt-wdth-lmtd main h2 {
    max-width: 50ch;
}
/* End Loader */

main{
    margin-bottom: -1.2rem;
}

/* Fonts */
.oswald-500 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.uppercase{
    text-transform: uppercase !important;
}
#careers-page{
    font-family: 'Lato', sans-serif !important;
}

/* Blockquote line */
.careers-quote{
    border-color: #fec111;
}

/* Home page hero */
.hero-content{
    padding-left: 0;
    padding-right: 0;
    min-height: 70rem;   
}
@media (max-width: 767px) {
    .hero-content {
        min-height: unset;
    }
}

/* Navigation */
.careers-nav-container{
    background-color: #0c0b0e;
    position: sticky;
    top: 0;
    z-index: 100;
}
.careers-nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;

    gap: 3.5rem;

    align-items: last baseline;
}
.careers-nav .nav-link{
    display: inline-block;

    text-decoration: none;

    transition: color .15s ease-in-out;

    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 500;
    color: #d8d8d8;

    cursor: pointer;
}
.careers-nav .nav-link:hover, .careers-nav .nav-link.active{
    color: #fff;
    
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1.4rem;
    text-decoration-color: #fec111;
}
.careers-nav .nav-link:visited{
    color: #b3b3b3;
}
.careers-nav .btn-careers{
    margin-left: auto;
}
/* Mobile navigation */
.careers-nav-sm{
    padding: 1rem 0;

    background: #0c0b0e;

    position: sticky;
    top: 0;
    z-index: 100;
}
.careers-nav-sm>.container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.careers-nav-sm .btn-careers{
    margin-left: auto;
}
.careers-nav-toggle{
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    background-color: transparent;
    border: 1.5px solid rgba(255,255,255,0.4);
    border-radius: 0.375rem;
}
.careers-nav-toggle-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.navbar-collapse{
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
}
.navbar-nav{
    padding: 0 0.3rem;
    
    color: #fff;

    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.careers-nav-sm .nav-link a{
    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 500;
    color: #b3b3b3;

    cursor: pointer;

    text-decoration: none;
    margin-left: 2rem;
}
.careers-nav-sm .nav-link.active{
    text-decoration: underline;
    text-decoration-color: #fec111;
}
.careers-nav-sm .nav-link.active a{
    color: #fff;
}

/* Home page section navigation */
.arrow-prev, .arrow-next{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 15%;

    padding: 0;

    color: #fff;
    text-align: center;
    font-size: 6rem;

    background: 0 0;
    border: 0;

    opacity: .5;
    transition: opacity .15s ease, color .15s ease;
}
.arrow-prev:hover, .arrow-prev:focus, .arrow-prev:hover .glyphicon, .arrow-prev:focus .glyphicon, .arrow-next:hover, .arrow-next:focus{
    color: #fec111;
    text-decoration: none;
    outline: 0;
    opacity: 1;
}
.arrow-prev:hover, .arrow-prev:focus{
    background: linear-gradient(90deg, #001c3d, transparent);
}
.arrow-next:hover, .arrow-next:focus{
    background: linear-gradient(270deg, #001c3d, transparent);
}
.arrow-prev{
    left: 0;
}
.arrow-next{
    right: 0;
}
.arrow-more .glyphicon{
    color: #001c3d;
}


/* Yellow button */
.btn-careers{
    background-color: #fec111;
    color: #0c0b0e;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.btn-careers:hover, .btn-careers:active, .btn-careers:focus{
    background-color: #0c0b0e;
    color: #fff !important;
    border: 1px solid #fec111;
}
a.btn-careers:visited{
    color: #0c0b0e;
}
a.btn-careers:hover{
    text-decoration: none;
}

/* Grey button */
.btn-careers-grey, .btn-careers-grey:visited{
    background-color: #ccc;
    color: #0c0b0e;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.btn-careers-grey:hover, .btn-careers-grey:active, .btn-careers-grey:focus{
    background-color: #0c0b0e;
    color: #fff !important;
    border: 1px solid #0c0b0e;
}

/* Yellow outline, transparent background button */
.btn-careers-outline{
    background-color: unset;
    color: #0c0b0e;
    border: 2px solid #fec111;
    font-weight: 600;
}
.btn-careers-outline:hover, .btn-careers-outline:active, .btn-careers-outline:focus{
    background-color: #fec111;
    color: #0c0b0e;
}

/* No outline, underline button */
.btn-careers-plain{
    background: none;
    /* color: #000; */
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.5rem;
    transition: text-underline-offset 0.15s ease-in-out;
    margin-left: -1.5rem;
    font-weight: 600;
}
.btn-careers-plain:hover, .btn-careers-plain:active, .btn-careers-plain:focus{
    background: none;
    color: currentColor;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1rem;
}

/* Home page main content */
#header-police, #header-civilian{
    min-height: 70rem;
    height: 100vh;
    border-top: 1px solid #001c3d;

    display: flex;
    align-items: center;
}
.header-text-container{
    color:#000;
}
#header-civilian .header-text-container{
    color: #fff;
    margin-left: 15%;
}
.header-text-container h2{
    font-size: 8rem;
}
#header-more h2{
    font-size: 6rem;
    margin-bottom: 4rem;
    color: #000;
}
#header-more .container{
    margin-left: 15%;
}
.header-description{
    padding: 2rem 0;
}


/* Home page backgrounds */
#header-police, #header-police-xs{
    background-image: url('../img/hero-police-officer.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
#header-civilian, #header-civilian-xs{
    background-image: url('../img/hero-civilian-g.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    text-shadow: 0.1rem 0.1rem 7px #000;

    color: #fff;
}
#header-more{
    background: #f3f3f3;
    position: relative;

    color:#001c3d;
    padding-bottom: 4rem;
}

/* Home page mobile formatting */
.header-container-xs{
    width: 100%;
    height: 100%;
}
#header-more-xs{
    background-color: #f3f3f3;

    min-height: 50rem;
    padding-bottom: 2rem;
}
#header-more-xs .header-container-xs{
    border-top: 1px solid;
}
#header-more-xs h2{
    margin-left: 3rem;
}
#header-police-xs .header-text-container-xs, #header-civilian-xs .header-text-container-xs{
    width: 65%;
    padding: 2rem;
}
.header-text-container-xs h2{
    margin-top: 3rem;
    font-size: 5rem;
}
.header-text-container-xs p{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#header-police-xs, #header-civilian-xs{
    height: 50rem;
}
#header-police-xs, #header-more-xs{
    color: #000;
}

/* Cards for page links */
#header-more .c-grid-container{
    padding: 0;
}
.c-card{
    padding: 0;

    border-width: 0;
    border-radius: 0.4rem;

    box-shadow: 0rem 0.3rem 0.8rem #9b9b9b;

    margin-bottom: 2rem;

    background-color: #fff;

    display: flex;
    flex-direction: column;
}
.c-card img{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.c-card-container{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    border-top: 0.025rem solid #fff;

    flex: 1;
    display: flex;
    flex-direction: column;
}
.c-card-container p{
    font-size: 1.8rem;

    flex: 1;
}
.c-card a{
    text-underline-offset: 0.2rem;
}
.c-card .btn-careers-outline{
    width: 100%;
}

.c-card-xs{
    background: #fff;
    color: #0c0b0e;

    border-radius: 0.4rem;

    padding-bottom: 2rem;

    margin-top: 2rem;
}

/* Careers footer */
.gc-careers-footer{
    color: #fff;
    background-color: #333;
}
.gc-careers-footer a{
    color: #fff;
}
.gc-careers-footer a:visited{
    color: #fff;
}
.gc-careers-footer a:hover, .gc-careers-footer a:focus{
    text-decoration: underline !important;
}

/* Sticky "Contact a recruiter" button */
.footer-contact{
    position: sticky;
    bottom: 0;
    z-index: 100;
}
.footer-contact .btn-contact{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 40rem;

    border-radius: 0;
}
.btn-contact:visited{
    color: #0c0b0e;
}
.btn-contact:hover, .btn-contact:focus{
    color: #fff;
}

@media (max-width: 767px) {
    .footer-contact{
        margin-top: 5rem;
    }
    .footer-contact .btn-contact {
        width: 100%;
    }
}

/* POLICE OFFICER PAGE */
/* Header */
.po-header{
    position: relative;

    min-height: 70vh;

    display: grid;

    background: url('../img/po-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-color: #001c3d;
}
.po-header-left{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;

    padding: 0 10rem;

    background: linear-gradient(270deg, #001c3d 40%, transparent 70%);
}
.po-header-text{
    color: #fff;

    width: 50%;
    padding: 6rem 0;
}
.po-header-text h1{
    font-size: 6rem;
    line-height: 6.5rem;
}
.po-header-text .po-header-tagline{
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.2;

    margin-bottom: 5rem;
}
.po-header-text hr{
    border-top: 1rem solid #fec111;
    width: 50%;
}
/* "Check your readiness" button */
.ready-btn, .ready-btn:visited{
    color: #fff;

    text-decoration: none;
    font-size: 2.5rem;

    background: #001c3d;

    padding: 2rem 1rem;

    border: 0.1rem solid #fec111;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
}
.ready-btn:hover, .ready-btn:active, .ready-btn:focus{
    color: #001c3d;
    background-color: #fec111;

    text-decoration: none;
}
.ready-btn:hover svg, .ready-btn:active svg, .ready-btn:focus svg{
    fill: #001c3d;
}
.ready-btn svg{
    height: 3.3rem;
    
    fill: #fff;
}
/* Mobile header */
.po-header-text-sm{
    padding: 4rem 3rem;

    background: #001c3d;
    color: #fff;
}
.po-header-text-sm h1{
    font-size: 5rem;
    
    margin-bottom: 1rem;
    margin-top: 0;
}
.po-header-text-sm .po-header-tagline{
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.5rem;
}
.po-header-text-sm hr{
    border-color: #fec111;
    border-width: 1rem;

    margin-bottom: 3rem;
}

/* Banner */
.po-banner{
    padding-top: 6rem;
}
.po-banner-text{
    padding-right: 6rem;
    padding-left: 6rem;
}
.po-banner-text p:nth-child(1){
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 7rem;

    border-left: 0.6rem solid #fec111;

    padding: 2rem;
    margin-bottom: 2rem;
}
.po-banner-text p:nth-child(2){
    font-size: 3rem;
    line-height: 5rem;
}
/* Mobile banner */
@media (min-width: 768px) and (max-width: 991px) {
    .po-banner-text p:nth-child(2){
        font-size: 2.5rem;
    }
}
@media (max-width: 767px) {
    .po-banner-text{
        padding-left: 3rem;
    }
    .po-banner-text p:nth-child(1){
        font-size: 4rem;
    }
    .po-banner-text p:nth-child(2){
        font-size: 2.5rem;
    }
}

/* Services and information */
.si-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;

    padding: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
    .si-links{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .si-links{
        grid-template-columns: 1fr;
        gap: 3rem 6rem;

        padding: 3rem 3rem;
    }
}
.si-card{
    display: flex;
    gap: 5rem;
    flex-direction: column;

    padding: 4rem;
    border-radius: 0.5rem;

    color: #001c3d;

    width: 100%;

    background: #fff;
    box-shadow: 0rem 0.3rem 0.8rem #9b9b9b;
}
@media (max-width: 767px) {
    .si-card{
        padding: 0;

        box-shadow: unset;
    }
}
.si-card svg{
    width: 4rem;
    margin-right: 1rem;
    margin-bottom: -1rem;

    fill: #000053;
}
.si-card h3{
    margin-top: 0;
    line-height: 4rem;
}

/* Card grids */
.c-grid-container{
    width: 100%;

    padding: 6rem;

    background: #f3f3f3;
}
.c-grid-container h2{
    margin-bottom: 3rem;
    margin-top: 0;
}
.c-grid-container>p{
    margin-bottom: 6rem;
}
.c-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
}
.c-grid .c-card{
    height: unset;
    width: 100%;
}
@media (max-width: 767px) {
    .c-grid-container{
        padding: 4rem 3rem;
    }
    .c-grid-container h2{
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .c-grid-container>p{
        margin-left: 0;
    }
    .c-grid {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .c-grid{
        grid-template-columns: 1fr 1fr;
    }
}

/* Police officer ribbons */
.po-ribbon{
    display: grid;
}
.po-ribbon-dark{
    background-color: #001c3d;
    color: #fff;
    grid-template-columns: 2fr 3fr;
}
.po-ribbon-light{
    background-color: #f3f3f3;
    grid-template-columns: 3fr 2fr;
}
.po-ribbon-img{
    display: flex;
    align-items: center;
}
.po-ribbon-img img{
    object-fit: contain;
}
.po-ribbon-img-left img{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.po-ribbon-img-right{
    justify-content: flex-end;
}
.po-ribbon-img-right img{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.po-ribbon-dark .po-ribbon-text{
    padding: 6rem;
}
.po-ribbon-light .po-ribbon-text{
    padding: 6rem;
}
.po-ribbon-text h2:first-of-type{
    margin-top: 0;
}
/* Mobile ribbon */
@media (max-width: 767px) {
    .po-ribbon{
        grid-template-columns: 1fr;
    }
    .po-ribbon-img{
        padding-top: 0;
    }
    .po-ribbon-img img{
        width: 100%;

        border-radius: 0;
    }
    .po-ribbon-text{
        padding: 4rem 3rem;
    }
}

/* Recruitment events */
.po-events{
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 6rem 6rem 0rem 6rem;
}
.po-events-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 6rem;

    margin-top: 2rem;
}
.event-card{
    border: 1px solid #0c0b0e;
    border-radius: 5px;
    padding: 2rem;

    position: relative;
}
.event-card svg {
    height: 2.4rem;
    margin-bottom: -0.4rem;

    fill: #000053;
}
.event-card-location{
    position: absolute;
    background: #fec111;
    padding: 0.5rem 1rem;
    top: 0;
    right: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
/* Mobile events */
@media (min-width: 768px) and (max-width: 1125px) {
    .po-events-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .po-events{
        padding: 4rem 3rem 0rem 3rem;
    }
    .po-events-cards {
        grid-template-columns: 1fr;
    }
}

/* Footer image */
.po-end{
    background-image: url('../img/po-end.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}
.po-end-gradient{
    background: linear-gradient(180deg, #fff 5%, transparent 20%);
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .po-end{
        height: 35vh;
    }
}

/* Left yellow line for headers */
.h2-line{
    border-left: 0.6rem solid #fec111;
    margin-left: -1.8rem;
    padding-left: 1rem;
}

/* Plain text display links */
.link-dark{
    color: #0c0b0e;
    position: relative;
}
.link-dark svg{
    fill: #0c0b0e;
}
.link-dark:hover{
    color: #0535d2;
}
.link-dark:focus{
    color: #0c0b0e;

    outline: 0.1rem solid #0c0b0e;
    outline-offset: 0.5rem;
}
.link-dark:hover svg, .link-dark:focus svg{
    fill: #0535d2;
}
.link-light, .link-light:visited{
    color: #fff;
    position: relative;

    width: fit-content;
}
.link-light svg, .link-light:visited svg{
    fill: #fff;
}
.link-light:hover, .link-light:visited:hover{
    color: #fec111;
}
.link-light:focus{
    color: #fec111;

    outline: 0.1rem solid #fec111;
    outline-offset: 0.5rem;
}
.link-light:hover svg, .link-light:focus svg, .link-light:visited:hover svg{
    fill: #fec111;
}
.link-light svg, .link-dark svg{
    width: 2rem;

    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    height: 2rem;
}
@media (max-width: 767px) {
    .link-light svg, .link-dark svg {
        margin-top: 1.1rem;
    }
}

/* Landing page (tertiary page) */
.landing-header-img{
    background: url('../img/indigenous-recruiting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15rem;
    
    height: 35vh;
}
.landing-content{
    display: flex;

    gap: 6rem;
    padding: 6rem;
}
.landing-title{
    width: 25%;
}
.landing-title h1{
    margin-top: 0;
    font-size: 6rem;

    border-bottom: 0.5rem solid #fec111;
    border-image: linear-gradient(to right, #fec111 50%, transparent 50%);
    border-image-slice: 1;
}
.landing-text .c-grid-container{
    margin-top: 4rem;
    padding: 0;

    background: unset;
}
.landing-text .c-grid{
    gap: 3rem;
}
/* Card grid layouts */
.c-grid-1{
    grid-template-columns: 1fr 1fr;
}
.c-grid-2{
    grid-template-columns: 1fr 1fr;
}
.c-grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1280px) {
    .landing-title{
        width: 100%;
    }
    .landing-header-img{
        background-position-y: 0;
        height: 20rem;
    }
    .landing-content{
        flex-direction: column;

        gap: 1rem;
        padding: 4rem 4rem 0 4rem;
    }
}

/* Generic page */
.generic-content h1{
    border-bottom: 0.5rem solid #fec111;
    border-image: linear-gradient(to right, #fec111 25%, transparent 25%);
    border-image-slice: 1;

    font-size: 4rem;
    line-height: 1.5;
}
.generic-content{
    padding-bottom: 6rem;
}
@media (max-width: 767px) {
    .generic-content{
        padding: 0 2rem;
    }
}

/* GC Subway */
.gc-subway.gc-subway-index dl {
    margin-left: .5em;
}
.gc-subway.gc-subway-index dl dd, .gc-subway.gc-subway-index dl dt {
    border-left: 4px solid #001c3d;
    font-weight: 400;
    margin: 0;
    padding-left: 1em;
    position: relative;
}
.gc-subway.gc-subway-index dl dd:last-of-type, .gc-subway.gc-subway-index dl dt:last-of-type {
    border-left-color: transparent;
    padding-bottom: 0;
}
.gc-subway.gc-subway-index dl dd {
    padding-bottom: 1.25em;
    padding-top: .25em;
}
.gc-subway.gc-subway-index dl dt a::before {
    background-color: #001c3d;
    border: 3px solid #001c3d;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px #fff inset;
    box-shadow: 0 0 0 10px #fff inset;
    content: "";
    height: 1.2em;
    left: -.7em;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
    width: 1.2em;
}

.gc-subway-section{
    padding-top: 3rem;
}
.gc-subway:not(.gc-subway-index)
 {
    border: 4px solid #001c3d;
    border-radius: 6px;
    margin: 6em 0 0 .5em;
    padding-bottom: 1em;
    position: relative;
}
.gc-subway:not(.gc-subway-index) ul {
    clear: both;
    list-style: none;
    margin-bottom: 0;
    margin-left: -.685em;
    padding-left: .5em;
}
.gc-subway:not(.gc-subway-index) ul li {
    border-left: 4px solid #001c3d;
    line-height: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 1em;
    position: relative;
}
.gc-subway:not(.gc-subway-index) ul li a {
    display: inline-block;
}
.gc-subway:not(.gc-subway-index) ul li a.active {
    color: #333;
    cursor: default;
    font-weight: 600;
    text-decoration-color: #fec111;
    text-decoration: none;
}
.gc-subway:not(.gc-subway-index) ul li a::before {
    background-color: #fec111;
    border: 3px solid #001c3d;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px #fff inset;
    box-shadow: 0 0 0 10px #fff inset;
    content: "";
    height: 1.2em;
    left: -.7em;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
    width: 1.2em;
}
.gc-subway:not(.gc-subway-index) ul li a.active::before {
    -webkit-box-shadow: 0 0 0 10px #fec111 inset;
    box-shadow: 0 0 0 10px #fec111 inset;
}
.gc-subway:not(.gc-subway-index) ul li:last-child {
    border-left-color: transparent;
    padding-bottom: 0;
}
.gc-subway:not(.gc-subway-index) ul li a:not(.active):focus::before, .gc-subway:not(.gc-subway-index) ul li a:not(.active):hover::before {
    -webkit-box-shadow: 0 0 0 4px #fff inset;
    box-shadow: 0 0 0 4px #fff inset;
}
.gc-subway:not(.gc-subway-index) ul li ul {
    margin: 1em 0 0;
}
.gc-subway:not(.gc-subway-index) ul li ul.noline li {
    border-left-color: transparent;
}
.gc-subway:not(.gc-subway-index) ul li ul.noline li a.active::after {
    background-color: #26374a;
    content: "";
    display: block;
    height: 4px;
    left: -1.75em;
    position: absolute;
    top: .5em;
    width: 1.125em;
}
@media screen and (min-width: 992px) {
    .gc-subway-wrapper {
        float: right;
        width: calc(33.33% - .5em - 5px);
        padding-left: 2rem;
    }
    .gc-subway:not(.gc-subway-index) hgroup h1 {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }
    .gc-subway:not(.gc-subway-index) hgroup {
        margin-left: -14px;
    }
    .gc-subway:not(.gc-subway-index) {
        border-color: transparent;
        display: none;
    }
    .gc-subway:not(.gc-subway-index).no-blink {
        display: block;
    }
    .gc-subway-section hgroup:first-of-type h1 {
        margin-top: 0;
    }
    .gc-subway-section hgroup:first-of-type p {
        display: block;
        font-size: 1.25em;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 991px) {
    .gc-subway-wrapper{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gc-subway:not(.gc-subway-index){
        margin-top: 4rem;
    }
    .gc-subway:not(.gc-subway-index) h1 {
        background-color: #fff;
        border-bottom: none;
        color: #555;
        float: left;
        font-size: 1.3em;
        margin-left: -.5em;
        margin-right: .5em;
        margin-top: -.75em;
        padding: 0 20px 10px 0;
    }
    .gc-subway:not(.gc-subway-index) ul {
        padding-top: .25em;
    }
    .gc-subway-section{
        padding-top: 0;
    }
}