<footer id="wb-info">
  <h2 class="wb-inv">About this site</h2>
  <div class="gc-main-footer">
    <div class="container">
      <nav>
        <h3>Royal Canadian Mounted Police</h3>
        <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
          <li><a href="https://rcmp.ca/en/contact-rcmp">All contacts</a></li>
          <li><a href="https://rcmp.ca/en/news">News</a></li>
          <li><a href="https://rcmp.ca/en/corporate-information/about-rcmp">About the RCMP</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="gc-sub-footer">
    <div class="container d-flex align-items-center">
      <nav>
        <ul>
          <li><a href="https://grc.ca/fr/renseignements-organisationnels/medias-sociaux">Médias sociaux</a></li>
          <li><a href="https://grc.ca/fr/avis">Avis</a></li>
        </ul>
      </nav>
      <div class="wtrmrk align-self-end">
        <img alt="Symbole du gouvernement du Canada" src="/assets/wmms-blk.svg" />
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
