{% if page.lang == 'fr' %}
  {% assign home_url = 'https://infoweb.rcmp-grc.gc.ca/index-fr.html' %}
  {% assign logo_src = '/assets/sig-blk-fr.svg' %}
  {% assign logo_alt = 'Gendarmerie royale du Canada' %}
  {% assign org_name = 'Gendarmerie royale du Canada' %}
  {% assign lang_label = 'English' %}
  {% assign lang_code = 'en' %}
  {% assign lang_selection = 'Sélection de la langue' %}
  {% assign search_action = 'https://www.canada.ca/fr/sr/srb.html#wb-land' %}
  {% assign search_heading = 'Recherche' %}
  {% assign search_label = 'Rechercher dans Infoweb' %}
  {% assign search_placeholder = 'Rechercher dans Infoweb' %}
  {% assign search_btn = 'Recherche' %}
{% else %}
  {% assign home_url = 'https://infoweb.rcmp-grc.gc.ca/index-en.html' %}
  {% assign logo_src = '/assets/sig-blk-en.svg' %}
  {% assign logo_alt = 'Royal Canadian Mounted Police' %}
  {% assign org_name = 'Royal Canadian Mounted Police' %}
  {% assign lang_label = 'Français' %}
  {% assign lang_code = 'fr' %}
  {% assign lang_selection = 'Language selection' %}
  {% assign search_action = 'https://www.canada.ca/en/sr/srb.html#wb-land' %}
  {% assign search_heading = 'Search' %}
  {% assign search_label = 'Search Infoweb' %}
  {% assign search_placeholder = 'Search Infoweb' %}
  {% assign search_btn = 'Search' %}
{% endif %}
<header>
  <div class="container" id="wb-bnr">
    <div class="row">
      <section class="col-xs-3 col-sm-12 pull-right text-right" id="wb-lng">
        <h2 class="wb-inv">{{ lang_selection }}</h2>
        <ul class="list-inline mrgn-bttm-0">
          <li>
            <a href="{{ page.lang_url }}" hreflang="{{ lang_code }}" lang="{{ lang_code }}">
              <span class="hidden-xs" translate="no">{{ lang_label }}</span>
              <span class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase" aria-hidden="true" translate="no">{{ lang_code }}</span>
            </a>
          </li>
        </ul>
      </section>
      <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
        <a href="{{ home_url }}" property="url">
          <img alt="{{ logo_alt }}" property="logo" src="{{ logo_src }}" />
          <span class="wb-inv">/ <span lang="{{ lang_code }}">{{ org_name }}</span></span>
        </a>
        <meta content="{{ logo_alt }}" property="name" />
        <meta content="Canada" property="areaServed" typeof="Country" />
      </div>
      <section class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4" id="wb-srch">
        <h2>{{ search_heading }}</h2>
        <form action="{{ search_action }}" id="cse-search-box" method="get" role="search">
          <div class="form-group wb-srch-qry">
            <label class="wb-inv" for="wb-srch-q">{{ search_label }}</label>
            <input
              class="wb-srch-q form-control"
              id="wb-srch-q"
              maxlength="170"
              name="q"
              placeholder="{{ search_placeholder }}"
              type="search"
              autocomplete="off"
              value=""
            />
          </div>
          <div class="form-group submit">
            <button class="btn btn-primary btn-small" type="submit">
              <span class="glyphicon-search glyphicon" aria-hidden="true"></span>
              <span class="wb-inv">{{ search_btn }}</span>
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="app-bar">
    <div class="container">
      <h2 class="h3 mrgn-tp-sm mrgn-bttm-sm">{{ org_name }}</h2>
    </div>
  </div>
  {% include infoweb_breadcrumb.html %}
</header>