{% if page.lang == 'fr' %}
  {% assign site_name = 'Infoweb' %}
  {% assign lang_code = 'fra' %}
{% else %}
  {% assign site_name = 'Infoweb' %}
  {% assign lang_code = 'eng' %}
{% endif %}
<meta charset="utf-8">
<title>{{ page.title }} - {{ site_name }}</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="{{ page.description }}" name="description">
<meta content="{{ page.author }}" name="author">
<meta content="{{ page.title }}" name="dcterms.title">
<meta content="{{ page.description }}" name="dcterms.description">
<meta content="{{ page.creator }}" name="dcterms.creator">
<meta content="{{ lang_code }}" name="dcterms.language">
<meta content="{{ page.subject }}" name="dcterms.subject">
<meta content="{{ page.issued | default: site.time | date: '%Y-%m-%d' }}" name="dcterms.issued">
<meta content="{{ page.date_modified | default: site.time | date: '%Y-%m-%d' }}" name="dcterms.modified">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" rel="stylesheet">
<link href="/assets/css/infoweb.css" rel="stylesheet">
{% if page.custom_css %}<link href="{{ page.custom_css }}" rel="stylesheet">{% endif %}
<noscript><link href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" rel="stylesheet"></noscript>