<!doctype html>
<html class="no-js" dir="ltr" lang="{{ page.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body class="cnt-wdth-lmtd" typeof="WebPage" vocab="http://schema.org/">
    <nav>
      <ul id="wb-tphp">
        {% if page.lang == 'fr' %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Passer à «&nbsp;À propos de ce site&nbsp;»</a>
          </li>
        {% else %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Skip to About this site</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% include header.html %}
    <main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
      <div class="row">
        <div class="col-xs-12 p-0">
          <span data-alt="" data-class="img-responsive full-width" data-pic="data-pic">
            <span data-src="./templates-modeles/assets/campaign-banner-image-large-480x150.jpg"></span> <!-- Default -->
            <span data-src="{{ page.banner_sm }}" data-media="(min-width: 0px)"></span> <!-- Small (500 x 250) -->
            <span data-src="{{ page.banner_lg }}" data-media="(min-width: 960px)"></span> <!-- Large (960 x 300) -->
            <span data-src="{{ page.banner_2xl }}" data-media="(min-width: 1200px)"><img alt="" class="img-responsive full-width" src=""></span> <!-- Full width (1920 x 300)-->
            <noscript><img alt="" src="./templates-modeles/assets/campaign-banner-image-2xl-960x150.jpg"></noscript> <!-- Fallback -->
          </span>
        </div>
      </div>
      <section id="campaign" class="container">
        <h1 id="wb-cont" property="name">{{ page.title }}</h1>
        {{ content }}
      </section>
      <section class="pagedetails container">
        {% if page.lang == 'fr' %}
          <h2 class="wb-inv">Détails de la page</h2>
          <dl id="wb-dtmd">
            <dt>Date de modification :</dt>
            <dd>
              <time property="dateModified">
                {{ page.date_modified | default: site.time | date: "%Y-%m-%d" }}
              </time>
            </dd>
          </dl>
        {% else %}
          <h2 class="wb-inv">Page details</h2>
          <dl id="wb-dtmd">
            <dt>Date modified:</dt>
            <dd>
              <time property="dateModified">
                {{ page.date_modified | default: site.time | date: "%Y-%m-%d" }}
              </time>
            </dd>
          </dl>
        {% endif %}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
