<!doctype html>
<html class="no-js" dir="ltr" lang="{{ page.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body class="cnt-wdth-lmtd" typeof="WebPage" vocab="http://schema.org/">
    <nav>
      <ul id="wb-tphp">
        {% if page.lang == 'fr' %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Passer à «&nbsp;À propos de ce site&nbsp;»</a>
          </li>
        {% else %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Skip to About this site</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% include header.html %}
    <main class="brdr-tp-0 mrgn-bttm-0">
    <div class="container-fluid careers-nav-container">
      <div class="container">
        <nav class="careers-nav hidden-xs">
          <a class="nav-link active" id="header-police-nav" onclick="headernav('header-police')">Police officer</a>
          <a class="nav-link" id="header-civilian-nav" onclick="headernav('header-civilian')">Civilian employees</a>
          <a class="nav-link" id="header-more-nav" onclick="headernav('header-more')">More opportunities</a>
          <button class="btn btn-careers">Apply now</button>
        </nav>
      </div>
    </div>
    <nav class="careers-nav-sm hidden-sm hidden-md hidden-lg hidden-xl">
      <div class="container-fluid">
        <button aria-controls="careers-nav-sm-collapse" aria-expanded="false" class="careers-nav-toggle" id="careers-nav-sm-toggle" onclick="navcollapse()">
          <span class="careers-nav-toggle-icon"></span>
        </button>
        <button class="btn btn-careers">Apply now</button>
        <div class="navbar-collapse collapse" id="careers-nav-sm-collapse">
          <ul class="navbar-nav mrgn-bttm-sm">
            <li class="nav-link active">
              <a href="#police-officer">Police officer</a>
            </li>
            <li class="nav-link">
              <a href="#civilian-employees">Civilian employees</a>
            </li>
            <li class="nav-link">
              <a href="#more-opportunities">More opportunities</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	{% include breadcrumb.html %}
	<h1 id="wb-cont" property="name">{{ page.title }}</h1>
    {{ content }}
    </main>
    <div class="footer-contact">
      <a class="btn btn-careers btn-contact" href="#">{% if page.lang == 'fr' %}Communiquer avec le personnel du recrutement{% else %}Contact a recruiter{% endif %}</a>
    </div>
    {% include footer.html %}
  </body>
</html>