<!doctype html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Service unavailable / Service non disponible</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
    <link href="/assets/css/rcmp.css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" /></noscript>
    <meta name="description" content="500 error – Service unavailable: We're sorry, our website is temporarily unable to process your request." />
    <meta name="dcterms.title" content="Service unavailable / Service non disponible" />
    <meta
      name="dcterms.description"
      content="500 error – Service unavailable: We're sorry, our website is temporarily unable to process your request."
    />
    <meta name="dcterms.creator" content="Royal Canadian Mounted Police" />
    <meta name="dcterms.language" content="eng" />
    <meta name="dcterms.subject" content="" />
    <meta name="dcterms.issued" content="2026-05-14" />
    <meta name="dcterms.modified" content="2026-05-14" />
    <meta property="dcterms:title" lang="en" content="Service unavailable / Service non disponible" />
    <meta property="dcterms:creator" lang="en" content="Royal Canadian Mounted Police" />
    <meta property="dcterms:subject" lang="en" content="500 Error Service Unavailable" />
    <meta
      property="dcterms:description"
      lang="en"
      content="500 error – Service unavailable: We're sorry, our website is temporarily unable to process your request."
    />
    <meta property="dcterms:title" lang="fr" content="Service non disponible / Service unavailable" />
    <meta property="dcterms:creator" lang="fr" content="Gendarmerie royale du Canada" />
    <meta property="dcterms:subject" lang="fr" content="Erreur 500 — Service non disponible" />
    <meta
      property="dcterms:description"
      lang="fr"
      content="Erreur 500 — Service non disponible : Nous sommes désolés, notre site Web est temporairement incapable de traiter votre demande."
    />
  </head>
  <body class="cnt-wdth-lmtd" id="page-500" vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
    <header>
      <div id="wb-bnr" class="container">
        <div class="row">
          <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
            <img src="/assets/sig-blk-en.svg" alt="Royal Canadian Mounted Police" property="logo" />
            <span class="wb-inv"> / <span lang="fr">Gendarmerie royale du Canada</span></span>
            <meta property="name" content="Royal Canadian Mounted Police" />
            <meta property="areaServed" typeof="Country" content="Canada" />
            <link property="logo" href="/assets/wmms-blk.svg" />
          </div>
        </div>
      </div>
    </header>
    <main role="main" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement" class="container">
      <h1 class="wb-inv" id="wb-cont">Service unavailable / <span lang="fr">Service non disponible</span></h1>
      <p class="wb-slc hidden-xs hidden-sm">
        <a class="wb-sl" href="#fr">Aller à la version française</a>
      </p>
      <div class="error-layout">
        <div class="error-col-img">
          <img src="/assets/500.png" alt="" role="presentation" class="error-illustration" />
        </div>
        <div class="error-col-text">
          <div id="en">
            <h2>Service unavailable</h2>
            <p><span class="label label-danger">500 error</span></p>
            <p class="hidden-xl hidden-md hidden-lg">
              <a href="#fr">Aller à la version française</a>
            </p>
            <p>We're sorry. Our website is temporarily unable to process your request due to a technical problem.</p>
            <p>We're working to resolve the issue. Please try again later.</p>
          </div>
          <hr class="error-lang-divider" aria-hidden="true" />
          <div id="fr" lang="fr">
            <h2>Service non disponible</h2>
            <p><span class="label label-danger">Erreur 500</span></p>
            <p class="hidden-xl hidden-md hidden-lg">
              <a href="#en">Go to the English version</a>
            </p>
            <p>Nous sommes désolés. Notre site Web est temporairement incapable de traiter votre demande en raison d'un problème technique.</p>
            <p>Nous travaillons à résoudre le problème. Veuillez réessayer plus tard.</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-3">
      <div class="container" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
        <div class="align-self-end">
          <img id="wmms" src="/assets/wmms-blk.svg" alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada" property="logo" />
        </div>
      </div>
    </footer>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
      crossorigin="anonymous"
    ></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
  </body>
</html>
