<!doctype html>
<html class="no-js" dir="ltr" lang="{{ page.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body class="cnt-wdth-lmtd" typeof="WebPage" vocab="http://schema.org/">
    <nav>
      <ul id="wb-tphp">
        {% if page.lang == 'fr' %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Passer au contenu principal</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Passer à «&nbsp;À propos de ce site&nbsp;»</a>
          </li>
        {% else %}
          <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
          </li>
          <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">Skip to About this site</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% include header.html %}
    <main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
      <hgroup class="mrgn-tp-md">
        {% if page.lang == 'fr' %}
        <p class="wb-rd lead mrgn-tp-0 mrgn-bttm-0">Modèle</p>
        {% else %}
        <p class="wb-rd lead mrgn-tp-0 mrgn-bttm-0">Template</p>
        {% endif %}
        <h1 id="wb-cont" property="name">{{ page.title }}</h1>
      </hgroup>
	  {% assign template_array = site.pages | where: "title", page.title -%}
		<section>
		  <h2 class="wb-inv">Current version</h2>
		{% for template_page in template_array -%}
		  {% unless template_page.url == page.url %}
			<a href="{{ template_page.url }}" class="btn btn-primary">View latest demo</a>
			<p class="small">last modified: {{ template_page.date_modified }}</p>
		  {% endunless %}
		{% endfor -%}
		</section>
      {{ content }}
      <section class="pagedetails">
        {% if page.lang == 'fr' %}
          <h2 class="wb-inv">Détails de la page</h2>
          <dl id="wb-dtmd">
            <dt>Date de modification :</dt>
            <dd>
              <time property="dateModified">
                {{ page.date_modified | default: site.time | date: "%Y-%m-%d" }}
              </time>
            </dd>
          </dl>
        {% else %}
          <h2 class="wb-inv">Page details</h2>
          <dl id="wb-dtmd">
            <dt>Date modified:</dt>
            <dd>
              <time property="dateModified">
                {{ page.date_modified | default: site.time | date: "%Y-%m-%d" }}
              </time>
            </dd>
          </dl>
        {% endif %}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
